h1 {
  color: darkgreen;
  text-align: center;
  background-color: burlywood;
}

body {
  background-color: gray;
}

/* div.content {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 6.5em auto auto;
} */

p {
}
